.project-body {
	display: flex;
	column-gap: 5px;
}

.todos {
	flex: 1;
	order: 1;
	background: #abcabc;
	padding: 50px 10px 0 50px;
}

.projects {
	order: 0;
	flex: 0 0 content;
	background: #defdef;
	padding: 5px;
}


.project-list {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.focused-project {
	position: relative;
	background: #abcabc;
	left: 10px;
}

.project {
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	column-gap: 5px;
}

.left {
	margin-left: auto;
}

.project-info {
	min-width: 100px;
	max-width: 200px;
	overflow: hidden;
	cursor: pointer;
}
.project-info:hover {
	opacity: 0.7;
}