/*.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.todo-item {
	padding: 5px;
  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
}
.todo-item:not(:first-child) {
	margin-top: 5px;
	border-top: 1px dashed pink;
}

.todo-item-content {
  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;

  font-family: monospace;
}
.todo-title, .todo-description {
  flex-shrink: 0;
}
.todo-priority, .todo-due-date {
  flex-grow: 0;
  flex-shrink: 0;
}
.todo-priority {
  margin-left: auto;
}

.status-finished {
  opacity: 0.5;
}
.status-finished-text {
	text-decoration: line-through;
}

.todo-description {
  font-size: 10px;
}


/***********************todo btn style start*****************************/
.todo-btn {
  flex: 0 0 auto;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  cursor:pointer;
  font-family:monospace;
  border-radius: 3px;
  font-size: 20px;
  padding: 4px;
}

.todo-add-btn {
  margin: auto;
  display: block;
  width: 200px;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color:#77d42a;
  border-radius:6px;
  border:1px solid #268a16;
  color:#000000;
  font-weight:bold;
  padding:6px 24px;
  text-shadow:0px 1px 0px #aade7c;
}
.todo-add-btn:hover {
  background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color:#5cb811;
}
.todo-add-btn:active {
  position:relative;
  top:1px;
}

.todo-status-btn{
  width: 30px;
  border: 1px solid #2b983b;
  background: #46f760;
  background: -webkit-gradient(linear, left top, left bottom, from(#46f760), to(#2b983b));
  background: -moz-linear-gradient(top, #46f760, #2b983b);
  background: linear-gradient(to bottom, #46f760, #2b983b);
  -webkit-box-shadow: #41e459 0px 0px 22px 0px;
  -moz-box-shadow: #41e459 0px 0px 22px 0px;
  box-shadow: #41e459 0px 0px 22px 0px;
  text-shadow: #1b5f25 1px 1px 1px;
}
.todo-status-btn:hover,
.todo-status-btn:focus {
  border: 1px solid ##36be4a;
  background: #54ff73;
  background: -webkit-gradient(linear, left top, left bottom, from(#54ff73), to(#34b647));
  background: -moz-linear-gradient(top, #54ff73, #34b647);
  background: linear-gradient(to bottom, #54ff73, #34b647);
  color: #ffffff;
}
.todo-status-btn:active {
  background: #2b983b;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b983b), to(#2b983b));
  background: -moz-linear-gradient(top, #2b983b, #2b983b);
  background: linear-gradient(to bottom, #2b983b, #2b983b);
}

.todo-status-completed-btn {
  border: 1px solid #aa0305;
  background: #ff060a;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff060a), to(#aa0305));
  background: -moz-linear-gradient(top, #ff060a, #aa0305);
  background: linear-gradient(to bottom, #ff060a, #aa0305);
  -webkit-box-shadow: #ff070c 0px 0px 22px 0px;
  -moz-box-shadow: #ff070c 0px 0px 22px 0px;
  box-shadow: #ff070c 0px 0px 22px 0px;
}
.todo-status-completed-btn:hover,
.todo-status-completed-btn:focus {
  border: 1px solid ##c80406;
  background: #ff070c;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff070c), to(#cc0406));
  background: -moz-linear-gradient(top, #ff070c, #cc0406);
  background: linear-gradient(to bottom, #ff070c, #cc0406);
}
.todo-status-completed-btn:active {
  background: #aa0305;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa0305), to(#aa0305));
  background: -moz-linear-gradient(top, #aa0305, #aa0305);
  background: linear-gradient(to bottom, #aa0305, #aa0305);
}

.todo-edit-btn {
  box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  background-color:#637aad;
  border:1px solid #314179;
}
.todo-edit-btn:hover {
  background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  background-color:#5972a7;
}
.todo-edit-btn:active {
  position:relative;
  top:1px;
}

.todo-remove-btn {
  box-shadow:inset 0px 1px 0px 0px #f5978e;
  background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color:#f24537;
  border:1px solid #d02718;
  text-shadow:0px 1px 0px #810e05;
}
.todo-remove-btn:hover {
  background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color:#c62d1f;
}
.todo-remove-btn:active {
  position:relative;
  top:1px;
}

/**************************todo btn style end*******************************/


/********************popup window style start******************/
.pop-up-window {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.pop-up-content {
  background-color: whitesmoke;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  color: #130000;
}

.pop-up-content-close {
  color: #4d1e0c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pop-up-content-close:hover,
.pop-up-content-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/**************************popup window style end***********************************/


/********************form style start*************************************/
.todo-form {
  margin: 10px;
}

.field {
  width: 100%;
  margin: 5px 0px 10px 0px;
  padding: 12px 20px;
  border:0;
  background-color: #fafafa;
  border:0;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  transition: .3s box-shadow;
}
.field:hover {
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}
.field:focus {
  outline:none !important;
  background-color: lightblue;
  border-color: #000;
}

.todo-form .btn {
  width: 49.9%;
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
  box-shadow:0 0 4px rgba(0,255,0,0.7);
  transition: .3s box-shadow;
}
.todo-form .cancel {
  float: right;
  background-color: red;
  box-shadow:0 0 4px rgba(255,0,0,0.7);
}
.todo-form .btn:hover {
  box-shadow:0 0 4px rgba(0,255,0,0.9);
  opacity: 1;
}
.todo-form .cancel:hover {
  box-shadow:0 0 4px rgba(255,0,0,0.9);
  opacity: 1;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

/******************form style end*************************/